header {
  background-image: url(../img/bg-head2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.head-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 100px;
  height: 100px;
  background: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 100;
}
.nav-mobile {
  display: none;
}

nav {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 40px;
  height: 38px;
  width: 100%;
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background: rgba($color__main-text, .7);
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    li a {
      font-weight: 700;
      color: #fff;
      padding: 10px 5px;
      height: 100%;
      width: 100%;
      transition: all .3s linear;
      &:hover {
        background: $color__link-hover;
        transition: all .3s linear;
      }
    }
  }
}
