doctype html
html(lang="da")
  head
    meta(charset="utf-8")
    title SDU Storekor Odense
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="mobile.css")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  body
    header
      a(href="#")
        .head-icon
      .nav-mobile
        h1 TESTER!
      nav
        ul
          li 
            a(href="#") Forside
          li 
            a(href="#") Optagelseskrav
          li 
            a(href="#") Koncerter
          li 
            a(href="#") Bestyrelsen
          li 
            a(href="#") Om os
          li 
            a(href="#") Dirigent
          li 
            a(href="#") Historie
          li 
            a(href="#") PR
          li 
            a(href="#") Kontakt
    .wrapper
      main
        section.koncerter
          article.koncert
            div.konc-info
              h2 Koncert titel
              p Lokation
              p Entré Pris
              a(href="#") Læs mere
            div.konc-img
              a(href="#")
                img(src="img/event1.jpg")
            div.konc-info
              h2 Koncert titel
              p Lokation
              p Entré Pris
              a(href="#") Læs mere
            div.konc-img
              a(href="#")
                img(src="img/event1.jpg")
            div.konc-info
              h2 Koncert titel
              p Lokation
              p Entré Pris
              a(href="#") Læs mere
            div.konc-img
              a(href="#")
                img(src="img/event1.jpg")
        section.intro
          article.intro-tekst
          article.intro-tekst
        section.nyheder
          article.nyhed
          article.nyhed
        section.om-os
          article.om-os-tekst
          article.om-os-img
    footer
    script(type="javascript", src="js/script-min.js")
