* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  box-sizing: border-box;
}

*:not(img),
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background: $color__background;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 15px;
  height: 2000px;
  color: $color__main-text;
}
